*{
    margin: 0px;
    font-family: "Product Sans", sans-serif;
}
#nav {
    background-color: #00f3f7;
}

#navbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

a, a:visited {
    color:white;
    text-decoration: none;
    font-weight: bold;
}
 
#header {
  background-image: url(img/header.png);
  height: 700px;
  background-size: cover;
}

.headerItems {
    color:black;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 80%;
}

#heading {
    font-size: 100px;
    padding-top: 100px;
    padding-bottom: 20px}

    #description {
        font-size: 20px;
    }

    #cards {
        display: flex;
        justify-content: space-around;
    }
.Carditem {
    
    color: black;
    width: 30%;
    margin: 15px, 0px;
}

.cardP {
    padding: 15px;
}

.cardimg {
    width: 90%;
    border-radius: 10px;
    margin: 5%;

}