*{
    margin:0;
    padding:0;
}

html, body {
    height: 100%
}

.container {
    width: 80%;
}

.nav {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:80%;
    margin: 0 auto;
    background-color: blue;
}

.navsection{
    height: 630px;
    background-color:yellow;
}

.questions {
    font-size: 100px;
}

.answerinput {
    width: 100px;
 
}